<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns">
                        <div>
                            <a href="{{site.url}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            {% unless site.gscholar_username ==  %}
                            <a href="https://scholar.google.com/citations?user={{site.gscholar_username}}&hl=en" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Read my articles on Google Scholar</a>
                            {% endunless %}
                        </div>
                    </div>
                    <ul>
                        <li>- Senior data scientist based in the San Francisco Bay Area available for consulting and short-term projects. </li>
                        <li>- Interests include <a href="https://scholar.google.com/citations?user={{site.gscholar_username}}&hl=en">mathematical modeling</a>, <a href="https://www.fastcompany.com/90523073/how-many-covid-infections-are-undetected-studying-its-mutations-may-hold-the-answer">machine learning</a>, integrating data sources, and geospatial analysis. </li>
                        <li>- PhD and postdoctoral research experience at Imperial College London and Harvard University in public health/healthcare, specializing in infectious diseases.</li>
                        <li>- Prior full-time work experience in academic, non-profit, and technology organizations.</li>
                    </ul>
                </div>
            </div>
        </div>
</section>